[submodule "FC_Framework"]
	path = FC_Framework
	url = https://github.com/fmorris2/FC_Framework
[submodule "FC_Sheep_Shearer"]
	path = FC_Sheep_Shearer
	url = https://github.com/fmorris2/FC_Sheep_Shearer
[submodule "FC_Dorics_Quest"]
	path = FC_Dorics_Quest
	url = https://github.com/fmorris2/FC_Dorics_Quest
[submodule "FC_Romeo_And_Juliet"]
	path = FC_Romeo_And_Juliet
	url = https://github.com/fmorris2/FC_Romeo_And_Juliet
[submodule "FC_Cooks_Assistant"]
	path = FC_Cooks_Assistant
	url = https://github.com/fmorris2/FC_Cooks_Assistant
[submodule "FC_Tutorial"]
	path = FC_Tutorial
	url = https://github.com/fmorris2/FC_Tutorial
[submodule "FC_Mining"]
	path = FC_Mining
	url = https://github.com/fmorris2/FC_Mining
[submodule "FC_Goblin_Diplomacy"]
	path = FC_Goblin_Diplomacy
	url = https://github.com/fmorris2/FC_Goblin_Diplomacy
[submodule "FC_Imp_Catcher"]
	path = FC_Imp_Catcher
	url = https://github.com/fmorris2/FC_Imp_Catcher
[submodule "FC_Rune_Mysteries"]
	path = FC_Rune_Mysteries
	url = https://github.com/fmorris2/FC_Rune_Mysteries
[submodule "FC_Druidic_Ritual"]
	path = FC_Druidic_Ritual
	url = https://github.com/fmorris2/FC_Druidic_Ritual
[submodule "FC_Witchs_Potion"]
	path = FC_Witchs_Potion
	url = https://github.com/fmorris2/FC_Witchs_Potion
